.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

#preview-container {
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  background-color: rgba(170,173,158,0.64);
  background-image: url("../webapp/imagens/camera.svg");
}

#previewImg {
  height: 100%;
  border-radius: 100%;
}

#icone-usuario {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  cursor: pointer;
}