/*

GERAL

*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --azul-escuro: #0C0032;
  --roxo-opaco: #190061;
  --roxo-opaco-claro: #240090;
  --roxo-claro: #3500D3;
  --preto-fosco: #282828;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.titulo {
  color: var(--azul-escuro);
  line-height: 1;
  font-size: 2.3rem;
  position: relative;
  z-index: 1;
  text-shadow: var(--azul-escuro) -.2rem .2rem 0;
}

.titulo::after {
  content: '';
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--roxo-claro);
  position: absolute;
  bottom: 3px;
  left: -5px;
  border-radius: 0.2rem;
  z-index: -1;
}

.btn-outline-mybooks {
  color: var(--roxo-opaco);
  border: .15rem solid var(--roxo-opaco);
  border-radius: .3rem;
}

.btn-outline-mybooks:hover {
  color: var(--roxo-claro);
  border: .15rem solid var(--roxo-claro);
  box-shadow: var(--azul-escuro) -.4rem .2rem 0 0;
}

.bg-azul-escuro {
  background-color: #0C0032 !important;
}

.bg-roxo-claro {
  background-color: var(--roxo-claro) !important;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-title-mybooks {
  display: flex;
  align-items: center;
}

.card-title-decoration {
  width: .2rem;
  height: 1.5rem;
  margin-bottom: .4rem;
  border-radius: .2rem;
  margin-right: .2rem;
  background-color: var(--azul-escuro);
}

.card-livro {
  width: 15rem !important;
  height: 5rem !important;
}


.foto-thumb {
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  border: .2rem solid var(--roxo-claro);
  border: .3rem solid var(--roxo-opaco);
  overflow: hidden;
  background-color: var(--azul-escuro);
}

.foto-thumb img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  transition: transform .5s;
  border: .3rem solid var(--roxo-claro);
}

.card-header-books {
  width: 100%;
  height: 100%;
  background-color: var(--preto-fosco) !important;
}

.card-header-books img {
	width: 5rem;
	height: 5rem;
}

.hover-thumb:hover > img {
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  opacity: 0.5;
  cursor: pointer;
}

#preview-container {
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  background-color: #282828;
  border: 1px solid #ffff;
}

#preview-container:hover {
  border: 3px outset #ffff;

}

#previewImg {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  z-index: 1000;
}

.logo {
  letter-spacing: .5rem;
}

.logo span {
  background-color: var(--roxo-claro);
  color: white;
  border-radius: .3rem;
}

.camera-icone {
  width: 2.5rem;
}

.btn-cadastro {
  background-color: var(--roxo-opaco) !important;
  border: 0 !important;
}